<app-auth-layout>
  <div class="forgot-form"> 
    <h2 class="forgot-title">Recuperar Contraseña</h2>
    <p class="forgot-description">
      Ingresa tu correo institucional y te enviaremos un enlace para recuperar tu cuenta.
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="email" class="forgotfields">
          Correo Institucional <span class="required">*</span>
        </label>
        <div class="input-container">
          <input type="email" id="email" formControlName="email" placeholder="usuario@unicauca.edu.co">
          <span class="input-icon pi pi-envelope"></span>
        </div>
        <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="error-message">
          <p-message
            severity="error"
            *ngIf="forgotForm.get('email')?.hasError('required')"
            text="El correo electrónico es requerido."
          ></p-message>
          <p-message
            severity="error"
            *ngIf="forgotForm.get('email')?.hasError('email')"
            text="El formato del correo no es válido."
          ></p-message>
        </div>
      </div>

      <div class="form-submit">
        <button type="submit" [disabled]="forgotForm.invalid">Enviar Enlace</button>
      </div>
    </form>
    
    <div class="back-to-login">
       <a (click)="goToLogin()" class="login-link" style="cursor: pointer;">Volver al inicio de sesión</a>
    </div>
  </div>
</app-auth-layout>