<div class="bg-primary" style="height: 100px; width: 100px;"></div>
<div class="bg-error" style="height: 100px; width: 100px;"></div>
<div class="bg-accessibility" style="height: 100px; width: 100px;"></div>

<h1 class="font-family-titillium font-bold text-3xl/41">Titillium Web Bold 32px</h1>
<h1 class="font-family-titillium font-bold text-[32px]/41">Titillium Web Bold 32px</h1>
<h2 class="font-family-titillium font-bold text-2xl/30">Titillium Web Bold 24px</h2>
<h3 class="font-family-titillium font-semibold text-lg/22">Titillium Web Semibold 18px</h3>
<p class="font-family-titillium font-bold text-base/30">Titillium Web Bold 16px</p>
<p class="font-family-titillium font-semibold text-base/30">Titillium Web Semibold 16px</p>
<p class="font-family-titillium font-normal text-sm/23">Titillium Web Regular 14px</p>

<p class="font-family-sans font-bold text-sm/26">Open Sans Bold 14px</p>
<p class="font-family-sans font-semibold text-sm/26">Open Sans Semibold 14px</p>
<p class="font-family-sans font-normal text-xs/21">Open Sans Regular 12px</p>
<p class="font-family-sans font-semibold text-xs/19">Open Sans Semibold 12px</p>
