<div class="auth-page-container">

  <header class="auth-header">
    <img src="logo_unicauca.png" alt="Logo Universidad del Cauca" class="logo">
    <div class="header-divider"></div>
    <span class="app-title">Software contable<br>ContApp</span>
  </header>

  <main class="main-content">
    
    <div class="auth-form-container">
      <ng-content></ng-content>
    </div>
    
    <div class="auth-image-container">
      <img src="unicauca-economia.jpg" alt="Imagen Decorativa Unicauca" class="auth-image">
    </div>
    
  </main>

  <footer class="footer">
    
    <div class="color-strip">
      <div class="color-red"></div>
      <div class="color-orange"></div>
      <div class="color-yellow"></div>
      <div class="color-blue"></div>
      <div class="color-purple"></div>
    </div>
    
    <div class="footer-grid">
      <div class="footer-section">
        <p><strong>Universidad del Cauca</strong></p>
        <p>NIT. 891500019-2</p>
      </div>
      
      <div class="footer-section">
        <p><strong>Software contable ContApp</strong></p>
        <p>Facultad de ciencias contables</p>
        <p>contapp&#64;unicauca.edu.co</p>
      </div>

      <div class="footer-section-data">
        <div class="footer-divider"></div>
        <div class="footer-section-TIC">
          <p><strong>División de Tecnologías de la Información y las Comunicaciones - DTIC</strong></p>
          <p>Versión 1.0.0</p>
          <p>2025</p>
        </div>
      </div>
    </div>
    
    <div class="footer-text">
      <p>Institución con Acreditación de Alta Calidad por 8 años Resolución MEN 6218 de 2019 - Vigilada Mineducación</p>
      <p>Política de Protección de Datos Personales | Política de Seguridad de la Información | Comunícate con nuestro Soporte Técnico</p>
    </div>
    
  </footer>

</div>