<app-auth-layaout>
  <div class="reset-form">
    <h2 class="reset-title">Restablecer contraseña</h2>
    <p class="reset-description">Ingresa tu nueva contraseña para restablecer tu cuenta.</p>

    <div *ngIf="passwordReset" class="success-message">
      <p>Tu contraseña ha sido restablecida exitosamente. Serás redirigido al inicio de sesión.</p>
    </div>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <form [formGroup]="resetForm" (submit)="onSubmit()" class="form" *ngIf="!passwordReset">
      <div class="form-group">
        <label for="newPassword" class="resetfields">
          Nueva contraseña <span class="required">*</span>
        </label>
        <div class="input-container">
          <input type="password" id="newPassword" placeholder="Mínimo 8 caracteres" formControlName="newPassword" />
          <span class="input-icon pi pi-lock"></span>
        </div>
        <div *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched" class="error-message">
          <p-message
            severity="error"
            *ngIf="resetForm.get('newPassword')?.hasError('required')"
            text="La contraseña es requerida"
          ></p-message>
           <p-message
            severity="error"
            *ngIf="resetForm.get('newPassword')?.hasError('minlength')"
            text="La contraseña debe tener al menos 8 caracteres"
          ></p-message>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword" class="resetfields">
          Confirmar contraseña <span class="required">*</span>
        </label>
        <div class="input-container">
          <input type="password" id="confirmPassword" placeholder="Confirma tu contraseña" formControlName="confirmPassword" />
          <span class="input-icon pi pi-lock"></span>
        </div>
        <div *ngIf="(resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.touched) || (resetForm.hasError('mismatch') && resetForm.get('confirmPassword')?.touched)" class="error-message">
           <p-message
            severity="error"
            *ngIf="resetForm.get('confirmPassword')?.hasError('required')"
            text="La confirmación es requerida"
          ></p-message>
          <p-message
            severity="error"
            *ngIf="resetForm.hasError('mismatch') && !resetForm.get('confirmPassword')?.hasError('required')"
            text="Las contraseñas no coinciden"
          ></p-message>
        </div>
      </div>

      <div class="form-submit">
        <button type="submit" [disabled]="resetForm.invalid || !token">
          Restablecer contraseña
        </button>
      </div>
    </form>

    <div class="back-to-login">
      <a routerLink="/login" class="login-link">
        <span>Volver al inicio de sesión</span>
      </a>
    </div>
  </div>
</app-auth-layaout>