<!-- Ocupar todo el espacio-->
<div class="w-full h-full flex flex-col">
  <app-header></app-header>
</div>

<div class="m-120  max-w-7xl mx-auto">
  <!-- Título -->
  <h1 class="font-family-titillium font-bold text-3xl/41 text-primary border-b-4 border-secondary inline-block pb-1">
    Listado de empresas
  </h1>
  <p class="font-family-sans font-normal text-xs/21 ">Elija una empresa para acceder a sus funcionalidades</p>

  <!-- Filtros y Buscador -->
  <div class="flex items-center justify-between flex-wrap gap-6">
    <div class="flex items-center gap-6 flex-wrap">
      <!-- Buscador -->
      <div class="flex items-center px-12 py-4 bg-neutral-90 rounded-full shadow w-180">
        <input
          type="text"
          placeholder="Buscar..."
          class="ml-2 w-full bg-transparent outline-none text-sm placeholder-neutral-50 text-black"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterEnterprises()"
        />
      </div>

      <!-- Filtro -->
        <p-dropdown
          [options]="[{ label: 'Activas', value: 'active' }, { label: 'Inactivas', value: 'inactive' }]"
          [(ngModel)]="selectedStatus"
          (onChange)="selectEnterpriseStatus()"
          placeholder="Seleccione un estado"
        ></p-dropdown>

    </div>

    <!-- Botón Agregar -->
    <p-button label="Agregar" type="submit"></p-button>
  </div>

  <!-- Cards -->
  <div class="bg-neutral-90 p-18 mt-10 rounded-xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
    <div *ngFor="let enterprise of filteredEnterprises" class="bg-white p-6 rounded-xl shadow text-center max-w-xs w-full">
      <div class="w-80 h-80 mx-auto rounded-full bg-gray-200 mb-4"></div>
      <h3 class="font-family-titillium font-semibold text-lg/22">{{ enterprise.name }}</h3>
      <p class="font-family-sans font-normal text-xs/21 text-neutral-50 mb-4">NIT: {{ enterprise.nit }}</p>
      <div class="flex items-center justify-center">
        <a
          [routerLink]="['/enterprise', enterprise.id]"
          (click)="saveSelectedEnterprise(enterprise)"
        >
          <p-button label="Seleccionar" class="w-full"></p-button>
        </a>
      </div>
    </div>
  </div>

</div>
