<!-- Ocupar todo el espacio-->
<div class="w-full h-full flex flex-col">
  <app-header></app-header>
</div>
<div class="m-120  max-w-7xl mx-auto">
  <!-- Título -->
  <h1 class="font-family-titillium font-bold text-3xl/41 text-primary border-b-4 border-secondary inline-block pb-1">
    Listado de empresas
  </h1>
  <p class="font-family-sans font-normal text-xs/21 ">Elija una empresa para acceder a sus funcionalidades</p>

  <!-- Filtros y Buscador -->
  <div class="flex items-center justify-between flex-wrap gap-6">
    <div class="flex items-center gap-6 flex-wrap">
      <!-- Buscador -->
      <div class="w-full sm:w-[30rem]">
        <p-iconfield iconPosition="left">
          <p-inputicon>
            <i class="pi pi-search text-gray-500"></i>
          </p-inputicon>
          <input
          pInputText
            type="text"
            placeholder="Buscar..."
            class="w-full py-2 px-3 text-sm rounded-md border border-gray-300 focus:border-blue-500 focus:ring-1 focus:ring-[var(--color-primary)] transition"
            [(ngModel)]="searchTerm"
            (ngModelChange)="filterEnterprises()"
          />
        </p-iconfield>
      </div>

      <!-- Filtro -->
        <p-dropdown
          [options]="[{ label: 'Activas', value: 'active' }, { label: 'Inactivas', value: 'inactive' }]"
          [(ngModel)]="selectedStatus"
          (onChange)="selectEnterpriseStatus()"
          placeholder="Seleccione un estado"
        ></p-dropdown>

    </div>

    <!-- Botón Agregar -->
    <p-button label="Agregar" type="submit"></p-button>
  </div>

  <!-- Cards -->
  <div class="bg-neutral-90 p-18 mt-10 rounded-xl grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center">
    <div *ngFor="let enterprise of filteredEnterprises" class="bg-white p-6 rounded-xl shadow text-center max-w-xs w-full">
      <div class="w-80 h-80 mx-auto rounded-full bg-gray-200 mb-4"></div>
      <h3 class="font-family-titillium font-semibold text-lg/22">{{ enterprise.name }}</h3>
      <p class="font-family-sans font-normal text-xs/21 text-neutral-50 mb-4">NIT: {{ enterprise.nit }}</p>
      <div class="flex items-center justify-center">
        <a
          [routerLink]="['/home']"
          (click)="saveSelectedEnterprise(enterprise)"
        >
          <p-button label="Seleccionar" class="w-full"></p-button>
        </a>
      </div>
    </div>
  </div>

</div>
