<div class="flex w-full h-full font-titillium">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <div class="w-full px-4 sm:px-6 lg:px-8">
    <!-- Header -->
    <div
      class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-4 mb-8"
    >
      <div class="flex-1">
        <h1
          class="text-2xl sm:text-3xl font-bold text-[var(--color-primary)] underline decoration-[var(--color-secondary)] mb-2"
        >
          Gestión de permisos
        </h1>
        <p class="text-sm sm:text-base text-gray-600 max-w-3xl leading-relaxed">
          Administra y configura todos los permisos del sistema.
        </p>
      </div>
    </div>

    <!-- Actions Bar -->
    <div class="mb-6">
      <div
        class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4 p-4"
      >
        <!-- Search -->
        <div class="w-full sm:w-[30rem]">
          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search text-gray-500"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="
                permissionsTable.filterGlobal(
                  $any($event.target).value,
                  'contains'
                )
              "
              placeholder="Buscar por perfil..."
              class="w-full py-2 px-3 text-sm rounded-md border border-gray-300 focus:border-blue-500 focus:ring-1 focus:ring-[var(--color-primary)] transition"
            />
          </p-iconfield>
        </div>

        <!-- Button -->
        <div class="flex flex-wrap justify-start sm:justify-end gap-2">
          <p-button
            label="Asignar Permisos"
            icon="pi pi-plus"
            (onClick)="assignPermissions()"
            size="small"
          >
          </p-button>
        </div>
      </div>
    </div>

    <!-- Table -->
    <p-table
      #permissionsTable
      [value]="filteredRolesWithPermissions"
      [loading]="loading"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[5, 10, 20]"
      [globalFilterFields]="['role', 'permissions.name']"
      styleClass="p-datatable-striped font-family-sans custom-table-alignment"
      [tableStyle]="{ 'min-width': '55rem' }"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th
            pSortableColumn="role"
            class="font-semibold text-primary border-b-2 border-primary"
          >
            Perfil
            <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th class="font-semibold text-primary border-b-2 border-primary">
            Permisos
          </th>
          <th
            class="font-semibold text-primary border-b-2 border-primary text-center"
            style="width: 150px"
          >
            Acciones
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-role>
        <tr class="text-neutral-20">
          <td class="py-3 align-top">
            {{ role.role }}
          </td>
          <td class="py-3 align-top">
            <div *ngFor="let group of role.groupedPermissions" class="mb-3">
              <!-- Módulo con negrita menos intensa -->
              <h4 class="module-title">
                {{ group.module }}
              </h4>

              <!-- Permisos alineados con el módulo -->
              <ul class="permissions-list">
                <li *ngFor="let perm of group.permissions">
                  {{ perm.name }}
                </li>
              </ul>
            </div>
          </td>

          <td class="py-3 text-center align-top">
            <p-button
              icon="pi pi-pencil"
              pTooltip="Editar Permisos"
              tooltipPosition="top"
              (onClick)="editPermisos(role)"
              styleClass="p-button-rounded p-button-text text-complementary-green mr-2"
            ></p-button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            colspan="3"
            class="text-center py-6 font-family-sans text-neutral-50"
          >
            No hay permisos asignados.
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        <tr>
          <td
            colspan="3"
            class="text-center py-6 font-family-sans text-neutral-50"
          >
            <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
            <p class="mt-2 text-primary">Cargando permisos...</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
