<div class="w-full px-4 sm:px-6 lg:px-8 pt-20">
    <p-toast></p-toast>
    <h1
     class="text-3xl font-bold text-[var(--color-primary)] underline decoration-[var(--color-secondary)] mt-6 mb-4"
    >
        Editar etiqueta no comercial
    </h1>
    <p class="mb-6 text-lg text-gray-700">
        Modifique la información necesaria de la etiqueta.
    </p>

    <div class="mt-6">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="mt-4">
            
            <!-- Contenedor de campos de formulario para mejor responsividad -->
            <div class="flex flex-wrap -mx-2 mb-4">
                
                <!-- Título -->
                <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                    <label for="title" class="block mb-2 font-semibold">
                        Título <span class="text-red-500">*</span>
                    </label>
                    <input 
                     pInputText
                     id="title"
                     formControlName="title"
                     placeholder="Bono Navideño"
                     class="w-full"
                    />

                    @if (editForm.get('title')?.touched && editForm.get('title')?.invalid) {
                        <p-message
                            severity="error"
                            text="El titulo es requerido"
                        ></p-message>
                    }
                </div>

                <!-- Descripción -->
                <div class="w-full md:w-1/2 px-2">
                    <label for="description" class="block mb-2 font-semibold">
                    Descripción <span class="text-red-500">*</span>
                    </label>
                    <input
                    pInputText
                    id="description"
                    formControlName="description"
                    placeholder="Ej: Bono para navidad"
                    class="w-full"
                    />
                    
                    @if (editForm.get('description')?.touched && editForm.get('description')?.invalid) {
                        <p-message
                            severity="error"
                            text="La descripción es requerida"
                        ></p-message>
                    }
                </div>
            </div>

            <!-- Botones de acción, ahora centrados y con espaciado limpio -->
            <div class="flex justify-center gap-4 mt-8">
                <p-button 
                    type="button"
                    label="Cancelar" 
                    severity="secondary"
                    (onClick)="goBack()">
                </p-button>
                <p-button 
                    type="submit"
                    label="Actualizar Etiqueta"
                    [disabled]="editForm.invalid || !hasChanges">
                </p-button>
            </div>

        </form>
    </div>
</div>
