<div class="w-full">
  <p-toast></p-toast>

  <h1
    class="text-3xl font-bold text-[var(--color-primary)] underline decoration-[var(--color-secondary)] mt-6 mb-4"
  >
    Editar Permisos del Perfil
  </h1>
  <p class="mb-6 text-lg text-gray-700">
    Modifique los permisos asignados al perfil.
  </p>
</div>

<div class="mt-6">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Perfil (solo lectura) -->
      <div>
        <label for="profile" class="block mb-2 font-semibold"> Perfil </label>
        <p-dropdown
          id="profile"
          [options]="roleOptions"
          formControlName="roleName"
          [disabled]="true"
          class="w-full"
        ></p-dropdown>
      </div>

      <!-- Permisos -->
      <div>
        <label for="permissions" class="block mb-2 font-semibold">
          Permisos <span class="text-red-500">*</span>
        </label>
        <p-multiSelect
          id="permissions"
          [options]="permissions"
          optionLabel="label"
          optionValue="value"
          formControlName="permissions"
          display="chip"
          [filter]="true"
          [group]="true"
          placeholder="Seleccione permisos"
          class="w-full"
        ></p-multiSelect>
        <p-message
          severity="error"
          *ngIf="
            editForm.get('permissions')?.touched &&
            editForm.get('permissions')?.invalid
          "
          text="Debe seleccionar al menos un permiso"
        ></p-message>
      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-center gap-4 mt-12 pt-40">
      <p-button
        type="button"
        label="Cancelar"
        severity="secondary"
        (onClick)="goBack()"
      ></p-button>
      <p-button
        type="submit"
        label="Actualizar Permisos"
        [disabled]="editForm.invalid || !hasChanges"
      ></p-button>
    </div>
  </form>
</div>
