.header {
  height: 4rem; /* o 64px */
  z-index: 50;
  position: relative;
}

.session-expired-message {
  margin: 0;
  line-height: 1.5;
  color: #374151;
}

:host ::ng-deep .session-expired-dialog .p-dialog-footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .sidenav {
    position: absolute !important;
    top: 90px; /* Altura real del header */
    height: calc(100vh - 90px);
    z-index: 40;
  }
}
