<!-- Contenedor Principal con la fuente y fondo estandarizados -->
<div class="flex w-full h-full font-titillium">
  <p-toast></p-toast>
  <!-- Tarjeta de Contenido Principal, aplicando el estilo de la guía -->
  <div class="m-4 md:m-10 w-full font-medium bg-white rounded-2xl md:rounded-3xl p-6 md:p-10">

    <!-- 1. CABECERA: Título y Botón de Regreso -->
    <div class="flex justify-between items-start mb-12">
      <!-- Título con el estilo de marca -->
      <div class="items-center">
        <h1 class="font-family-titillium font-bold text-3xl/41 text-primary inline-block pb-1">
          <span class="border-b-4 border-secondary-light inline-block pb-1">Crear</span> Producto
        </h1>
        <p class="font-family-sans font-normal text-sm mt-12">
          Ingrese la información requerida para registrar un nuevo producto en el sistema.
        </p>
      </div>

      <!-- Botón de Regreso -->
      <div class="hidden sm:block">
        <p-button icon="pi pi-arrow-left" (click)="goBack()" pTooltip="Regresar a la lista"
          styleClass="p-button-text p-button-secondary"></p-button>
      </div>
    </div>

    <!-- 2. FORMULARIO DE CREACIÓN DE PRODUCTO -->
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-24 mt-24 font-family-sans">

        <!-- Nombre del Producto -->
        <div class="flex flex-col gap-2">
          <label for="name" class="font-semibold text-primary label-required">Nombre</label>
          <input pInputText id="name" formControlName="name" placeholder="Ej: Banano de exportación"
            class="w-full md:w-2/3" />
          @if (productForm.get('name')?.invalid && productForm.get('name')?.touched) {
          <small class="error-message">{{ getValidationMessage('name') }}</small>
          }
        </div>

        <!-- Referencia -->
        <div class="flex flex-col gap-2">
          <label for="reference" class="font-semibold text-primary label-required">Referencia / SKU</label>
          <input pInputText id="reference" formControlName="reference" placeholder="Ej: TROP-001"
            class="w-full md:w-2/3" />
          @if (productForm.get('reference')?.invalid && productForm.get('reference')?.touched) {
          <small class="error-message">{{ getValidationMessage('reference') }}</small>
          }
        </div>

        <!-- Presentación -->
        <div class="flex flex-col gap-2">
          <label for="presentation" class="font-semibold text-primary label-required">Presentación</label>
          <input pInputText id="presentation" formControlName="presentation" placeholder="Ej: Caja de 12 unidades"
            class="w-full md:w-2/3" />
          @if (productForm.get('presentation')?.invalid && productForm.get('presentation')?.touched) {
          <small class="error-message">{{ getValidationMessage('presentation') }}</small>
          }
        </div>

        <!-- Cantidad -->
        <div class="flex flex-col gap-2">
          <label for="quantity" class="font-semibold text-primary">Cantidad Inicial</label>
          <p-inputNumber inputId="quantity" formControlName="quantity" [min]="0" placeholder="0"
            styleClass="w-full md:w-1/3"></p-inputNumber>
          @if (productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched) {
          <small class="error-message">{{ getValidationMessage('quantity') }}</small>
          }
        </div>

        <!-- Impuesto(s) -->
        <div class="flex flex-col gap-2">
          <label for="taxPercentage" class="font-semibold text-primary label-required">Impuesto(s)</label>
          <p-multiSelect
            id="taxSelect"
            [options]="taxes"
            optionLabel="displayText"
            optionValue="id"
            placeholder="Seleccione los impuestos"
            [filter]="true"
            [showClear]="true"
            [maxSelectedLabels]="3"
            selectedItemsLabel="{0} impuestos seleccionados"
            class="w-full md:w-2/3"
            formControlName="taxes"
          >
            <ng-template pTemplate="selectedItems" let-selectedOptions>
              <div *ngIf="selectedOptions && selectedOptions.length > 0">
                <span *ngFor="let option of selectedOptions; let i = index">
                  {{ option.code }} ({{ option.interest }}%){{ i < selectedOptions.length - 1 ? ', ' : '' }}
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div>{{ option.code }} ({{ option.interest }}%)</div>
            </ng-template>
          </p-multiSelect>
          @if (productForm.get('taxes')?.invalid && productForm.get('taxes')?.touched) {
            <small class="error-message">{{ getValidationMessage('taxes') }}</small>
          }
        </div>

        <!-- Costo -->
        <div class="flex flex-col gap-2">
          <label for="cost" class="font-semibold text-primary">Costo</label>
          <p-inputNumber inputId="cost" formControlName="cost" mode="currency" currency="COP" locale="es-CO" [min]="0"
            placeholder="$ 0" styleClass="w-full md:w-1/3"></p-inputNumber>
          @if (productForm.get('cost')?.invalid && productForm.get('cost')?.touched) {
          <small class="error-message">{{ getValidationMessage('cost') }}</small>
          }
        </div>

        <!-- Tipo de Producto -->
        <div class="flex flex-col gap-2">
          <label for="productTypeId" class="font-semibold text-primary label-required">Tipo de Producto</label>
          <p-select
            id="productTypeId"
            formControlName="productTypeId"
            [options]="productTypes"
            optionLabel="name"
            optionValue="id"
            placeholder="Seleccione un tipo"
            [filter]="true"
            [showClear]="true"
            class="w-full md:w-2/3"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div *ngIf="selectedOption">
                {{ selectedOption.name }}
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div>{{ option.name }}</div>
            </ng-template>
          </p-select>
          @if (productForm.get('productTypeId')?.invalid && productForm.get('productTypeId')?.touched) {
          <small class="error-message">{{ getValidationMessage('productTypeId') }}</small>
          }
        </div>

        <!-- Unidad de Medida -->
        <div class="flex flex-col gap-2">
          <label for="unitOfMeasureId" class="font-semibold text-primary label-required">Unidad de Medida</label>
          <p-select
            id="unitOfMeasureId"
            formControlName="unitOfMeasureId"
            [options]="unitOfMeasures"
            optionLabel="name"
            optionValue="id"
            placeholder="Seleccione una unidad"
            [filter]="true"
            [showClear]="true"
            class="w-full md:w-2/3"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div *ngIf="selectedOption">
                {{ selectedOption.name }}
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div>{{ option.name }}</div>
            </ng-template>
          </p-select>
          @if (productForm.get('unitOfMeasureId')?.invalid && productForm.get('unitOfMeasureId')?.touched) {
          <small class="error-message">{{ getValidationMessage('unitOfMeasureId') }}</small>
          }
        </div>

        <!-- Categoría -->
        <div class="flex flex-col gap-2">
          <label for="categoryId" class="font-semibold text-primary label-required">Categoría</label>
          <p-select
            id="categoryId"
            formControlName="categoryId"
            [options]="categories"
            optionLabel="name"
            optionValue="id"
            placeholder="Seleccione una categoría"
            [filter]="true"
            [showClear]="true"
            class="w-full md:w-2/3"
          >
            <ng-template pTemplate="selectedItem" let-selectedOption>
              <div *ngIf="selectedOption">
                {{ selectedOption.name }}
              </div>
            </ng-template>
            <ng-template pTemplate="item" let-option>
              <div>{{ option.name }}</div>
            </ng-template>
          </p-select>
          @if (productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched) {
          <small class="error-message">{{ getValidationMessage('categoryId') }}</small>
          }
        </div>

        <!-- Descripción -->
        <div class="md:col-span-2 flex flex-col gap-2">
          <label for="description" class="font-semibold text-primary label-required">Descripción</label>
          <textarea id="description" formControlName="description"
            placeholder="Añade aquí cualquier observación, detalle técnico o nota sobre el producto..."
            rows="3" pInputTextarea 
            class="p-inputtext w-full md:w-2/3"></textarea>
          @if (productForm.get('description')?.invalid && productForm.get('description')?.touched) {
          <small class="error-message">{{ getValidationMessage('description') }}</small>
          }
        </div>

      </div>

      <!-- 3. BOTONES DE ACCIÓN -->
      <div class="flex justify-center gap-4 mt-12 pt-40">
        <p-button 
          type="button"
          label="Cancelar" 
          severity="secondary"
          (onClick)="goBack()">
        </p-button>
        <p-button 
          type="submit"
          label="Guardar"
          [disabled]="productForm.invalid">
        </p-button>
      </div>
    </form>

  </div>
</div>