<div class="flex w-full h-full font-titillium">
  <div class="w-full px-4 sm:px-6 lg:px-8">
    <!-- Header Section -->
    <div
      class="flex flex-col sm:flex-row sm:justify-between sm:items-start gap-4 mb-8"
    >
      <div class="flex-1">
        <h1
          class="text-2xl md:text-3xl font-bold text-[var(--color-primary)] underline decoration-[var(--color-secondary)] mb-2"
        >
          Gestión de usuarios
        </h1>
        <p class="text-sm sm:text-base text-gray-600 max-w-3xl leading-relaxed">
          Aquí podrá ver la lista de usuarios.
        </p>
      </div>
    </div>

    <!-- Actions Bar -->
    <div class="mb-6">
      <div
        class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4 p-4"
      >
        <!-- Search Field -->
        <div class="w-full sm:w-[30rem]">
          <p-iconfield iconPosition="left">
            <p-inputicon>
              <i class="pi pi-search text-gray-500"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              placeholder="Buscar usuario..."
              class="w-full py-2 px-3 text-sm rounded-md border border-gray-300 focus:border-blue-500 focus:ring-1 focus:ring-[var(--color-primary)] transition"
            />
          </p-iconfield>
        </div>
        <!-- Buttons -->
        <div class="flex flex-wrap justify-start sm:justify-end gap-2">
          <p-button
            label="Agregar"
            class="custom-action-button"
            icon="pi pi-plus"
            (onClick)="redirectTo('/gen-masters/third-parties/create')"
            size="small"
          ></p-button>
        </div>
      </div>
    </div>

    <!-- Table Container -->
    <p-table
      #dt1
      [value]="users"
      dataKey="id"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 15]"
      [globalFilterFields]="globalFilterFields"
      [responsiveLayout]="'scroll'"
      styleClass="p-datatable-header min-h-[20rem]"
    >
      <!-- Table Header -->
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let colum of displayedColumns" class="whitespace-nowrap">
            <div class="flex items-center gap-2">
              <span>{{ colum }}</span>
            </div>
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-user>
        <tr class="hover:bg-gray-50">
          <td class="whitespace-nowrap">
            <span class="text-sm font-medium text-gray-900">
              {{ user.firstName }}
            </span>
          </td>
          <td class="whitespace-nowrap">
            <span class="text-sm text-gray-900">{{ user.lastName }}</span>
          </td>
          <td class="whitespace-nowrap">
            <span class="text-sm text-gray-900">{{ user.email }}</span>
          </td>
          <td class="whitespace-nowrap">
            <span class="text-sm text-gray-900">{{ user.username }}</span>
          </td>

          <td class="whitespace-nowrap">
            <div class="flex flex-col items-center gap-1">
              <span
                *ngFor="let role of user.roles"
                class="inline-block text-center px-2 py-1 rounded text-xs bg-blue-100 text-blue-800"
                style="width: auto"
              >
                {{ role }}
              </span>
            </div>
          </td>
          <td class="whitespace-nowrap">
            <div class="flex items-center justify-center gap-1">
              <p-button
                class="material-symbols-outlined p-button-md action-button"
                (onClick)="redirectToEdit(user.id)"
                pTooltip="Editar"
                tooltipPosition="top"
                >edit</p-button
              >
              <p-button
                class="material-symbols-outlined p-button-md action-button"
                (onClick)="redirectToDelete(user.id)"
                pTooltip="Eliminar"
                tooltipPosition="top"
                >delete</p-button
              >
            </div>
          </td>
        </tr>
      </ng-template>
      <!-- Empty State -->
      <ng-template pTemplate="emptymessage">
        <tr>
          <td
            [attr.colspan]="displayedColumns.length"
            class="empty-message-cell"
          >
            <div class="empty-message-container">
              <div class="flex flex-col items-center gap-4">
                <div class="space-y-2 text-center">
                  <h3 class="text-lg font-semibold text-[var(--color-primary)]">
                    No hay usuarios
                    <i
                      class="pi pi-users bg-gray-100 rounded-full text-2xl"
                    ></i>
                  </h3>
                  <p class="text-sm text-gray-600 max-w-md">
                    No se encontraron usuarios que coincidan con su búsqueda.
                  </p>
                </div>
                <p-button
                  label="Agregar Usuario"
                  icon="pi pi-plus"
                  (onClick)="
                    redirectTo('/general/operations/third-parties/create')
                  "
                ></p-button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
